main{
    display: flex;
    flex-direction: column;
    height: auto;
    height: fit-content;
}

main .gap{
    display: flex;
    width: 95%;
    margin-left: 5%;
    padding-bottom: 1%;
    height: 5vh;
    border-bottom: 2px solid rgba(145, 145, 145, 0.6);
    font-size: 0.9em;
}

main .gap a{
    text-decoration: none;
    color: black;
}

.titulo{
    width: 100%;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2%;
    color: #686868;
    font-family: "Roboto Slab", Sans-serif;
    font-size: 60px;
    font-weight: 600;
    text-transform: uppercase;
}

#contenedorNoticia  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5%;
}
main .noticia{
    margin: 1%;
    width: 30%;
    height: 55vh;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}

main .noticia .imagenNoticia img{
    width: auto;
    height: 25vh;
}

main .noticia .tituloNoticia{
    text-align: center;
    font-size: 2em;
    height: 4vh;
}
main .noticia .fechaNoticia{
    width: 100%;
    text-align: left;
    height: 3vh;
    color:#686868;
}
main .noticia .descripcionNoticia{
    width: 100%;
    text-align: left;
    height: 18vh;
    text-wrap: wrap;
    color:#686868;
    overflow: hidden;
}

@media (min-width:326px) and (max-width: 426px){
    main .noticia{
        width: 90%;
        height: 65vh;
        }
    main .noticia .descripcionNoticia{
        height: 25vh;
        }
    
}
@media (min-width:426px) and (max-width: 768px){
    main .noticia{
        width: 45%;
        height: 70vh;
        }    
    main .noticia .descripcionNoticia{
        height: 30vh;
    }

}