

                                                                /* Portada */

.Portada{
    display: flex;
    height: 92vh;
    width: 100%;
    background-color: white;
    z-index: 1;
    overflow: hidden;
}
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }

  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    margin-left: 2%;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 20%;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 20%;
    margin-right: 2%;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .6} 
  to {opacity: 1}
}

/* animacion del texto asi re dou epica anashi */
.texto-anim{
  color: white;
  font-size: 6em;
  position: absolute;
  top: 20%;
  left: 20%;
}
.texto-anim2{
  color: white;
  font-size: 2em;
  position: absolute;
  top:36%;
  left: 22%;
}
.texto-anim3{
  color: white;
  font-size: 6em;
  position: absolute;
  top: 39%;
  left: 20%;
}
.texto-anim4{
  color: white;
  font-size: 4em;
  position: absolute;
  top: 20%;
  left: 20%;
}
.texto-anim5{
  color: white;
  font-size: 3em;
  position: absolute;
  top: 30%;
  left: 49%;
}
.texto-anim6{
  color: white;
  font-size: 6em;
  position: absolute;
  top: 36%;
  left: 19%;
}
.texto-anim7{
  color: white;
  font-size: 3em;
  position: absolute;
  top: 30%;
  left: 19%;
}
.texto-anim8{
  color: white;
  font-size: 7em;
  position: absolute;
  top: 36%;
  left: 19%;
}
.fadeIn{
  animation-name: fadeIn;
  animation-duration: 1s;
}
@keyframes fadeIn{
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* enlaces */

.Portada .enlaces{
  position:absolute;
  display: flex;
  justify-content: center;
  top: 65%;
  width: 100%;
  height: 25%;
}

.Portada .caja{
  display: flex;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: inherit;
  align-items: center;
  width: 30%;
  height: 100%;
  top: 80%;
  z-index: 3;
  border-radius: 3%;
}

.Portada .caja:hover{
  background-color:  rgba(0, 0, 0, 1);
  transition: 0.3s ease-in;
}

.Portada .caja .texto{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

.Portada .caja h1{
  color: white;
  font-size: 1.7em;
}

.Portada .caja a{
  text-decoration: none;
  color: #ffb706;
}
                                                            /* Presentacion */

.gap{
  width: 100%;
  height: 2vh;
}

.presentacion{
  align-content: center;
  padding-top: 5%;
  background-image:url(../imagenes/Presentacion/fondoPresentacion.png);
  background-repeat:no-repeat;
  background-size:cover;
  background-position:center;
  width: 100%;
  height: 65vh;
  z-index: 2;
  text-align: center;
}

.presentacion h1{
  color:#ffb706;
  font-size: 5em;

}

.presentacion p{
  padding-left: 5%;
  padding-right: 5%;
  font-size: 2em;
  color:#ffb706;

}

.presentacion a{
  padding: 5px;
  text-decoration: none;
  background-color: #e77717;
  color: white;
  border-radius: 3%;
}

.gapLinea{
   width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;
    height: 1px;
    background-color: black;
}

                                                                /* noticias */
 
h1 a{
  text-decoration: none;
  color: #ffb706;
  }

 main .noticias{
  padding-top: 3%;
  padding-bottom: 3%;
  display: flex;
  width: 90%;
  justify-content: space-between;
  background-color: rgb(48, 47, 47);
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 2%;
}

main .noticia{
  display: flex;
  flex-direction: column;
  width: 33%;
  height: fit-content;
  background-color: #717171;
  border-radius: 3%;
}

main .noticia #tituloNoticia{
  text-align: center;
  background-color:#ffb706;;
  border-radius: 3%;
}

main .noticia .contenidoNoticia{
  display: flex;
  flex-direction: row-reverse;
}

main .noticia .contenidoNoticia #descripcionNoticia{
  width: 50%;
  text-align: center;
  height: fit-content;
}

main .noticia .contenidoNoticia #descripcionNoticia p{
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  overflow-x: hidden;
}

main .noticia .contenidoNoticia #imagenNoticia{
  width: 50%;
  text-align: center;
}

main .noticia .contenidoNoticia #imagenNoticia img{
  width: 100%;
  text-align: center;
}

