h2{
    font-size: 1.7em;
}

p{
    font-size: 1.1em;
}

main .gap{
    display: flex;
    width: 95%;
    margin-left: 5%;
    padding-bottom: 1%;
    height: 5vh;
    border-bottom: 2px solid rgba(145, 145, 145, 0.6);
    font-size: 0.9em;
}

main .gap a{
    text-decoration: none;
    color: black;
}

main .presentacion{
    display: flex;
    width: 100%;
}

main .presentacion .side{
    width: 30%;
    margin: 5%;
    padding: 2%;
    background-color: #ffb706;
    border: 2px solid #e77717;
    color: white;
    border-radius: 4%;
    box-sizing: border-box;
    font-weight: bold;
    text-align: justify;
    align-content: center;
}

main .presentacion .info{
    width: 70%;
    margin:2%;
    padding: 1%;
}

main .presentacion .info h2{
    text-decoration: underline;
}

.gapInfo{
    width: 100%;
    height: 2vh;
    height: fit-content;
    text-align: center;
  }

.Mural{
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 3%;
    width: 94%;
    border: 2px solid black;
}

.Mural .imagenMural{
    width: 50%;
    align-content: center;
    text-align: center;
    
}

.Mural .imagenMural img{
    width: 100%;
    height: 100%;
}

.Mural .informacionMural{
    width: 50%;
    background-color: #717171;
    color: white;
    padding-left: 2%;
    padding-right: 2%;
    text-align: justify;
    text-justify: inter-word;   
}

#gapInfo{
    width: 100%;
    background-color: black;
    height: 1px;
}

.Mural .informacionMural h1{
    text-align: center;
}

.Mural .informacionMural a{
    text-align: center;
    text-decoration: none;
    background-color: #e77717;
    border: 2px solid black;
    color: white;
    padding: 6px;
    border-radius: 5%;
  }

@media (min-width:600px) and (max-width: 1200px){
    main .presentacion{
       flex-direction: column;
    }
    main .presentacion .side{
       font-size: 2em;
        width: 90%;
    }
    main .presentacion .info{
        font-size: 2em;
         width: 90%;
     }
    main .Mural{
        flex-direction: column;
    }
    .Mural .imagenMural{
        width: 100%;
    }
    .Mural .informacionMural{
        width: auto; 
        font-size: 1em; 
    }
}