.cont{
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.cont .mural{
    width: 60%;
}

.cont .cronologico{
    width: 60%;
}

.cont .cronologico img{
    border: 1px solid black;
}

main .gap{
    display: flex;
    width: 95%;
    margin-left: 5%;
    padding-bottom: 1%;
    height: 5vh;
    border-bottom: 2px solid rgba(145, 145, 145, 0.6);
    font-size: 0.9em;
}
main .gap a{
    text-decoration: none;
    color: black;
}
.gapInfo{
    width: 100%;
    height: 2vh;
    height: fit-content;
    text-align: center;
}
#gapInfo{
    width: 100%;
    background-color: black;
    height: 1px;
}

